<div class="container mt-2">
  <div class="card">
    <div class="card-header text-bg-secondary">
      <h2>Reservations Of Resource ID : {{resourceId}}</h2>
    </div >
    <div class="card-body" *ngIf="reservations">
      <table class="table">
        <thead>
        <tr>
          <th class="text-bg-dark">ID</th> <th class="text-bg-dark">Name</th> <th class="text-bg-dark">Context</th>
          <th class="text-bg-dark">Date</th> <th class="text-bg-dark">Duration Per Day</th>
          <th class="text-bg-dark">Resource Id</th> <th class="text-bg-dark"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of reservations">
          <td>{{r.id}}</td>
          <td>{{r.name}}</td>
          <td>{{r.context}}</td>
          <td>{{r.date}}</td>
          <td>{{r.durationPerDay}}</td>
          <td>{{r.resourceId}}</td>
          <td>
            <button  (click)="handleDeleteReservation(r.id)" class="btn btn-danger mx-3"  >
              <i class="bi bi-trash3-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
