<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Resources</h2>
    </div>
    <div class="card-body " *ngIf="reservations">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th> <th>Name</th> <th>context</th><th>Date</th> <th>Duration Per Day</th> <th>Resource Id</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of reservations">
          <td>{{r.id}}</td>
          <td>{{r.name}}</td>
          <td>{{r.context}}</td>
          <td>{{r.date}}</td>
          <td>{{r.durationPerDay}}</td>
          <td>{{r.resourceId}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
